img[alt="www.000webhost.com"] {
  display: none !important;
}
[class*="sidebar-dark-"] {
  background-color: #543564 !important;
}
.navbar-white {
  background-color: #7170c5 !important;
}
.content-wrapper {
  background-color: #7ea0d3 !important;
}
.disclaimer {
  display: none;
}
input.form-control.form-control-sm {
  width: 890px !important;
  align-items: center !important;
}
.form-control::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}
